@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'GlamRock';
  src: url('/fonts/glamrock.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'GlamRock', 'Arial', sans-serif;
  background: linear-gradient(to bottom, #000000, #1a0033);
  color: #ffffff;
}

/* .glam-text-shadow {
  text-shadow: 0 0 10px #ff00ff, 0 0 20px #ff00ff, 0 0 30px #ff00ff, 0 0 40px #ff00ff;
} */

/* input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input:focus {
  outline: none;
  box-shadow: 0 0 10px #ff00ff;
} */

.bg-glitter {
  background-image: url('/images/glitter-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
  width: 4px; /* ширина для вертикального скролла */
  height: 6px; /* высота для горизонтального скролла */
  background-color: #EC4899;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 30px;
}